.ewd-ufaq-hidden{display:none}.ufaq-faq-category-title-toggle{cursor:pointer}.ufaq-faq-category-body-hidden{display:none}.ewd-ufaq-clear{clear:both}.ewd-ufaq-post-margin{text-decoration:none}.ewd-ufaq-post-margin-symbol{text-decoration:none}.ufaq-permalink{margin-left:10px}.ufaq-permalink-image{background:url(//money.style/wp-content/plugins/ultimate-faqs/css/../images/insert_link.png);height:21px;width:30px;margin-top:-25px;margin-left:90px}.ewd-ufaq-author-date{}.ewd-ufaq-author{font-weight:600}.ewd-ufaq-date{font-weight:600}.ufaq-faq-categories,.ufaq-faq-tags{}.ufaq{}.ufaq-faq-category-title{width:100%;clear:both}.ufaq-faq-category{margin-bottom:20px}.ufaq-faq-category-inner{margin-bottom:48px}.ufaq-faq-body{padding:10px
25px;padding-left:55px}.ufaq-faq-search{margin:5px
0 !important}.ufaq-search-highlight{background:#f7ff00}.ewd-otp-field-label{width:auto !important}.ufaq-text-input{border-radius:0 !important;margin:15px
!important}.ewd-ufaq-submit{border-radius:0 !important}.ufaq-faq-header{margin:10px}.ufaq-faq-header a:hover{text-decoration:none}.ewd-ufaq-post-margin-symbol{display:inline-block;float:left;text-align:center;width:auto;height:auto;margin-right:15px;padding:2px
0px 0px 2px;line-height:1}.ewd-ufaq-post-margin-symbol
span{display:inline-block;font-size:30px;margin:0
auto}.ufaq-faq-title-text{float:left;width:90%}.ufaq-faq-title h1,
.ufaq-faq-title h2,
.ufaq-faq-title h3,
.ufaq-faq-title h4,
.ufaq-faq-title h5,
.ufaq-faq-title
h6{display:inline-block;margin:5px
!important}.ufaq-custom-field-label,.ufaq-custom-field-value{position:relative;float:left;margin-top:14px}.ufaq-custom-field-label{font-weight:bold}.ufaq-faq-body .comment-respond{margin-top:24px}.ufaq-faq-body
li.comment{list-style-type:none}.ufaq-faq-body
textarea{clear:both;display:block;position:relative;width:35%;height:100px}.ufaq-faq-body .comment-form-comment
label{clear:both;display:block;position:relative;width:100%}.ufaq-faq-body
.submit{width:auto;background:transparent;cursor:pointer;color:#111;margin-bottom:20px}.ufaq-faq-body .submit:hover{background:#111;color:#fff}.ufaq-faq-body .comment-author
img{margin-right:8px}.ufaq-faq-body .comment-body
p{margin:10px
0;margin-top:10px !important}.ufaq-faq-body
.reply{text-transform:uppercase}.ufaq-faq-body .ufaq-back-to-top-link{cursor:pointer}.ewd-ufaq-ratings{padding:14px
0 0}.ewd-ufaq-down-vote{background-position:0px 8px !important;height:50px !important}.ufaq-faq-display-style-Color_Block .ewd-ufaq-post-margin-symbol{background-color:#18c;color:#fff}.ewd-ufaq-Circle{border-radius:18px}.ewd-ufaq-Square{border-radius:0px}.ufaq-faq-div{margin:2px
0;padding:2px
0;clear:both}.ufaq-faq-toggle:hover, .ufaq-faq-toggle a:hover{cursor:pointer;cursor:hand;text-decoration:none}.ufaq-faq-title{}.ufaq-faq-display-style-Block a, .ufaq-faq-display-style-Block a:visited, .ufaq-faq-display-style-Block a:active{text-decoration:none}.ufaq-faq-display-style-Block:hover,
.ufaq-faq-display-style-Block:hover a,
.ufaq-faq-display-style-Block:hover h1,
.ufaq-faq-display-style-Block:hover h2,
.ufaq-faq-display-style-Block:hover h3,
.ufaq-faq-display-style-Block:hover h4,
.ufaq-faq-display-style-Block:hover h5,
.ufaq-faq-display-style-Block:hover
h6{text-decoration:none !important;color:#fff !important;background:#18c}.ufaq-faq-display-style-Block.ewd-ufaq-post-active, .ufaq-faq-display-style-Block.ewd-ufaq-post-active
a{color:#fff !important;background:#18c}.ufaq-faq-header-title
a{display:inline-block}.ufaq-faq-display-style-Minimalist{border-bottom:1px solid #aaa;padding:8px
0}.ufaq-faq-display-style-Minimalist .ewd-ufaq-post-margin-symbol{float:right;height:auto}.ufaq-faq-display-style-Minimalist .ewd-ufaq-post-margin-symbol
span{font-size:22px}.ufaq-faq-display-style-Minimalist .ufaq-faq-body{padding:20px
25px 10px;padding-left:40px}.ufaq-faq-display-style-Minimalist .ufaq-faq-tags, .ufaq-faq-display-style-Minimalist .ufaq-social-links{margin-top:4px}.ufaq-faq-display-style-Minimalist .ufaq-social-links
ul{float:left;margin-bottom:14px}.ufaq-faq-display-style-Minimalist .ufaq-permalink{margin:24px
0}.ufaq-faq-display-style-Minimalist .ufaq-permalink-image{margin-top:-22px;margin-left:100px}.ufaq-faq-display-style-Minimalist .ewd-ufaq-author-date{margin-bottom:14px}.ufaq-faq-display-style-Minimalist .ufaq-faq-categories{margin:14px
0}.ufaq-faq-div{margin:2px
0;padding:2px
0;clear:both}.ufaq-faq-toggle:hover, .ufaq-faq-toggle a:hover{cursor:pointer;cursor:hand;text-decoration:none}.ufaq-faq-title{}.ufaq-faq-display-style-Border_Block a, .ufaq-faq-display-style-Border_Block a:visited, .ufaq-faq-display-style-Border_Block a:active{text-decoration:none}.ufaq-faq-display-style-Border_Block:hover,
.ufaq-faq-display-style-Border_Block:hover a,
.ufaq-faq-display-style-Border_Block:hover h1,
.ufaq-faq-display-style-Border_Block:hover h2,
.ufaq-faq-display-style-Border_Block:hover h3,
.ufaq-faq-display-style-Border_Block:hover h4,
.ufaq-faq-display-style-Border_Block:hover h5,
.ufaq-faq-display-style-Border_Block:hover
h6{text-decoration:none !important;color:#fff !important;background:#18c}.ufaq-faq-display-style-Border_Block.ewd-ufaq-post-active, .ufaq-faq-display-style-Border_Block.ewd-ufaq-post-active
a{color:#fff !important;background:#18c}.ufaq-faq-display-style-Border_Block .ufaq-faq-body{color:#555 !important;background:#fff;border:3px
solid #18c;border-bottom:2px solid #18c}.ufaq-faq-display-style-Border_Block .ufaq-faq-body
a{color:#000 !important;background:transparent}.ufaq-faq-display-style-Border_Block .ufaq-faq-tags, .ufaq-faq-display-style-Border_Block .ufaq-social-links{margin-top:4px}.ufaq-faq-display-style-Border_Block .ufaq-social-links
ul{float:left;margin-bottom:14px}.ufaq-faq-display-style-Border_Block .ufaq-permalink{margin:24px
0}.ufaq-faq-display-style-Border_Block .ufaq-permalink-image{margin-top:-22px;margin-left:100px}.ufaq-faq-display-style-Border_Block .ewd-ufaq-author-date{margin-bottom:14px}.ufaq-faq-display-style-Border_Block .ufaq-faq-categories{margin:14px
0}.ufaq-faq-display-style-Border_Block.ewd-ufaq-post-active .ufaq-faq-title-text{color:#fff !important}.ufaq-faq-display-style-Border_Block .comment-reply-title{background:transparent !important;color:#000 !important}.ufaq-faq-display-style-Border_Block:hover .comment-reply-title{color:#000 !important}.ufaq-faq-display-style-Contemporary{border-bottom:1px solid #ccc;padding:0;margin:0}.ufaq-faq-display-style-Contemporary:first-of-type{border-top:1px solid #ccc}.ufaq-faq-display-style-Contemporary .ufaq-faq-title{background:#f7f7f7;padding:8px
0 8px 4px}.ufaq-faq-display-style-Contemporary .ewd-ufaq-post-margin-symbol{float:right;height:auto}.ufaq-faq-display-style-Contemporary .ufaq-faq-body{padding:20px
25px 10px;padding-left:40px}.ufaq-faq-display-style-Contemporary .ufaq-faq-tags, .ufaq-faq-display-style-Contemporary .ufaq-social-links{margin-top:4px}.ufaq-faq-display-style-Contemporary .ufaq-social-links
ul{float:left;margin-bottom:14px}.ufaq-faq-display-style-Contemporary .ufaq-permalink{margin-left:0;margin-bottom:10px}.ufaq-faq-display-style-Contemporary .ufaq-back-to-top{margin-bottom:14px}.ewd-ufaq-rating-button{height:48px;padding-left:52px;margin-right:12px;line-height:48px;float:left;font-weight:600;cursor:pointer}.ewd-ufaq-up-vote{background:url(//money.style/wp-content/plugins/ultimate-faqs/css/../images/Thumbs-up-icon.png);background-repeat:no-repeat}.ewd-ufaq-down-vote{background:url(//money.style/wp-content/plugins/ultimate-faqs/css/../images/Thumbs-down-icon.png);background-repeat:no-repeat}.ewd-ufaq-expand-all,.ewd-ufaq-collapse-all{text-decoration:none;cursor:pointer;font-size:0.9em}@font-face{font-family:'ewd-toggle-icon';src:url(//money.style/wp-content/plugins/ultimate-faqs/css/fonts/ewd-toggle-icon.eot);src:url(//money.style/wp-content/plugins/ultimate-faqs/css/fonts/ewd-toggle-icon.woff2) format('woff2'),
url(//money.style/wp-content/plugins/ultimate-faqs/css/fonts/ewd-toggle-icon.woff) format('woff'),
url(//money.style/wp-content/plugins/ultimate-faqs/css/fonts/ewd-toggle-icon.ttf) format("truetype"),
url(//money.style/wp-content/plugins/ultimate-faqs/css/fonts/ewd-toggle-icon.svg#ewd-toggle-icon) format("svg");font-weight:normal;font-style:normal}.ewd-ufaq-post-margin-symbol,.ewd-ufaq-toggle-all-symbol{font-family:'ewd-toggle-icon'}.ewd-ufaq-question-update{font-size:1.2em;margin-bottom:20px}.ewd-ufaq-question-form .form-field{margin-bottom:20px}.rrssb-buttons li a .rrssb-text{color:#fff;margin-left:5px}.ufaq-social-links .rrssb-buttons
li{margin-bottom:5px}.ufaq-permalink{clear:both}@media only screen and (max-width: 810px){.ufaq-faq-title-text{width:80%}}
.rrssb-buttons{box-sizing:border-box;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;height:36px;margin:0;padding:0;width:100%}.rrssb-buttons:after{clear:both}.rrssb-buttons:after,.rrssb-buttons:before{content:' ';display:table}.rrssb-buttons li{box-sizing:border-box;float:left;height:100%;line-height:13px;list-style:none;margin:0;padding:0 2px}.rrssb-buttons li.rrssb-email a{background-color:#0a88ff}.rrssb-buttons li.rrssb-email a:hover{background-color:#006ed6}.rrssb-buttons li.rrssb-facebook a{background-color:#306199}.rrssb-buttons li.rrssb-facebook a:hover{background-color:#244872}.rrssb-buttons li.rrssb-tumblr a{background-color:#32506d}.rrssb-buttons li.rrssb-tumblr a:hover{background-color:#22364a}.rrssb-buttons li.rrssb-linkedin a{background-color:#007bb6}.rrssb-buttons li.rrssb-linkedin a:hover{background-color:#005983}.rrssb-buttons li.rrssb-twitter a{background-color:#26c4f1}.rrssb-buttons li.rrssb-twitter a:hover{background-color:#0eaad6}.rrssb-buttons li.rrssb-googleplus a{background-color:#e93f2e}.rrssb-buttons li.rrssb-googleplus a:hover{background-color:#ce2616}.rrssb-buttons li.rrssb-youtube a{background-color:#df1c31}.rrssb-buttons li.rrssb-youtube a:hover{background-color:#b21627}.rrssb-buttons li.rrssb-reddit a{background-color:#8bbbe3}.rrssb-buttons li.rrssb-reddit a:hover{background-color:#62a3d9}.rrssb-buttons li.rrssb-pinterest a{background-color:#b81621}.rrssb-buttons li.rrssb-pinterest a:hover{background-color:#8a1119}.rrssb-buttons li.rrssb-pocket a{background-color:#ed4054}.rrssb-buttons li.rrssb-pocket a:hover{background-color:#e4162d}.rrssb-buttons li.rrssb-github a{background-color:#444}.rrssb-buttons li.rrssb-github a:hover{background-color:#2b2b2b}.rrssb-buttons li.rrssb-instagram a{background-color:#517fa4}.rrssb-buttons li.rrssb-instagram a:hover{background-color:#406582}.rrssb-buttons li.rrssb-delicious a{background-color:#0B79E5}.rrssb-buttons li.rrssb-delicious a:hover{background-color:#095fb4}.rrssb-buttons li.rrssb-vk a{background-color:#4d71a9}.rrssb-buttons li.rrssb-vk a:hover{background-color:#3d5a86}.rrssb-buttons li.rrssb-hackernews a{background-color:#f60}.rrssb-buttons li.rrssb-hackernews a:hover{background-color:#cc5200}.rrssb-buttons li a{background-color:#ccc;border-radius:2px;box-sizing:border-box;display:block;font-size:11px;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-weight:700;height:100%;padding:11px 7px 12px 27px;position:relative;text-align:center;text-decoration:none;text-transform:uppercase;-webkit-transition:background-color .2s ease-in-out;transition:background-color .2s ease-in-out;width:100%}.rrssb-buttons li a .rrssb-icon{display:block;left:10px;padding-top:9px;position:absolute;top:0;width:10%}.rrssb-buttons li a .rrssb-icon svg{height:17px;width:17px}.rrssb-buttons li a .rrssb-icon svg path,.rrssb-buttons li a .rrssb-icon svg polygon{fill:#fff}.rrssb-buttons li a .rrssb-text{color:#fff}.rrssb-buttons li a:active{box-shadow:inset 1px 3px 15px 0 rgba(22,0,0,.25)}.rrssb-buttons li.small a{padding:0}.rrssb-buttons li.small a .rrssb-icon{left:auto;margin:0 auto;overflow:hidden;position:relative;top:auto;width:100%}.rrssb-buttons li.small a .rrssb-text{visibility:hidden}.rrssb-buttons.large-format,.rrssb-buttons.large-format li{height:auto}.rrssb-buttons.large-format li:first-child:nth-last-child(1) a{font-size:20px;font-size:4vw}.rrssb-buttons.large-format li:first-child:nth-last-child(2) a,.rrssb-buttons.large-format li:first-child:nth-last-child(2)~li a{font-size:16px;font-size:2vw}.rrssb-buttons.large-format li:first-child:nth-last-child(3) a,.rrssb-buttons.large-format li:first-child:nth-last-child(3)~li a{font-size:14px;font-size:1.7vw}.rrssb-buttons.large-format li:first-child:nth-last-child(4) a,.rrssb-buttons.large-format li:first-child:nth-last-child(4)~li a{font-size:13px;font-size:1.4vw}.rrssb-buttons.large-format li:first-child:nth-last-child(5) a,.rrssb-buttons.large-format li:first-child:nth-last-child(5)~li a{font-size:13px;font-size:1.2vw}.rrssb-buttons.large-format li:first-child:nth-last-child(6) a,.rrssb-buttons.large-format li:first-child:nth-last-child(6)~li a{font-size:12px;font-size:1.05vw}.rrssb-buttons.large-format li:first-child:nth-last-child(7) a,.rrssb-buttons.large-format li:first-child:nth-last-child(7)~li a{font-size:11px;font-size:.9vw}.rrssb-buttons.large-format li:first-child:nth-last-child(8) a,.rrssb-buttons.large-format li:first-child:nth-last-child(8)~li a{font-size:11px;font-size:.8vw}.rrssb-buttons.large-format li:first-child:nth-last-child(9) a,.rrssb-buttons.large-format li:first-child:nth-last-child(9)~li a{font-size:11px;font-size:.7vw}.rrssb-buttons.large-format li:first-child:nth-last-child(10) a,.rrssb-buttons.large-format li:first-child:nth-last-child(10)~li a{font-size:11px;font-size:.6vw}.rrssb-buttons.large-format li:first-child:nth-last-child(11) a,.rrssb-buttons.large-format li:first-child:nth-last-child(11)~li a{font-size:11px;font-size:.5vw}.rrssb-buttons.large-format li a{-webkit-backface-visibility:hidden;backface-visibility:hidden;border-radius:.2em;padding:8.5% 0 8.5% 12%}.rrssb-buttons.large-format li a .rrssb-icon{height:100%;left:7%;padding-top:0;width:12%}.rrssb-buttons.large-format li a .rrssb-icon svg{height:100%;position:absolute;top:0;width:100%}.rrssb-buttons.large-format li a .rrssb-text{-webkit-backface-visibility:hidden;backface-visibility:hidden}.rrssb-buttons.small-format{padding-top:5px}.rrssb-buttons.small-format li{height:80%;padding:0 1px}.rrssb-buttons.small-format li a .rrssb-icon{height:100%;padding-top:0}.rrssb-buttons.small-format li a .rrssb-icon svg{height:48%;position:relative;top:6px;width:80%}.rrssb-buttons.tiny-format{height:22px;position:relative}.rrssb-buttons.tiny-format li{padding-right:7px}.rrssb-buttons.tiny-format li a{background-color:transparent;padding:0}.rrssb-buttons.tiny-format li a .rrssb-icon svg{height:70%;width:100%}.rrssb-buttons.tiny-format li a:active,.rrssb-buttons.tiny-format li a:hover{background-color:transparent}.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon svg polygon{fill:#0a88ff}.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#0054a3}.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon svg polygon{fill:#306199}.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#18304b}.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon svg polygon{fill:#32506d}.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#121d27}.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon svg polygon{fill:#007bb6}.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#003650}.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon svg polygon{fill:#26c4f1}.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#0b84a6}.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon svg polygon{fill:#e93f2e}.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#a01e11}.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon svg polygon{fill:#df1c31}.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#84111d}.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon svg polygon{fill:#8bbbe3}.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#398bcf}.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon svg polygon{fill:#b81621}.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#5d0b11}.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon svg polygon{fill:#ed4054}.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#b61124}.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon svg polygon{fill:#444}.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#111}.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon svg polygon{fill:#517fa4}.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#2f4a60}.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon svg polygon{fill:#0B79E5}.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-delicious a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#064684}.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon svg polygon{fill:#4d71a9}.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-vk a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#2d4263}.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon svg polygon{fill:#f60}.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-hackernews a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#993d00}
body{background-color:#F6F6F6}@media only screen and (max-width: 768px){.navbar
ul{background:#3b6ab1}}@media only screen and (max-width: 767px){.navbar ul li.active .dropdown ul li a:hover{color:#BBE8FF}.navbar li .dropdown.active .dropdown ul li a:hover{color:#BBE8FF}.gumby-no-touch .navbar ul li:hover .dropdown ul li a:hover{color:#BBE8FF}.navbar ul li > a + .dropdown ul
a{background:#204885;border-bottom-color:#3b6ab1 !important}.gumby-no-touch .navbar ul li:hover > a, .gumby-touch .navbar ul li.active>a{background:#204885}.gumby-no-touch .navbar ul li:hover .dropdown, .gumby-touch .navbar ul li.active
.dropdown{border-top-color:#3b6ab1 !important}}.navbar li .dropdown ul > li
a{color:#BBE8FF}.topmain > div .logo
p{color:#003FBE}@media only screen and (max-width: 768px){.primary.btn{background-color:#ff8c21;border-color:#ff8c21}}@media only screen and (min-width: 768px){.gumby-no-touch .main-menu-container .main-menu > li:hover > a, .gumby-no-touch .main-menu-container .main-menu > li:focus > a, .gumby-touch .main-menu-container .main-menu > li:hover > a, .gumby-touch .main-menu-container .main-menu>li:focus>a{color:#ff8c21}.gumby-no-touch .main-menu-container .main-menu > li .dropdown li:hover a, .gumby-no-touch .main-menu-container .main-menu > li .dropdown li:focus a, .gumby-touch .main-menu-container .main-menu > li .dropdown li:hover a, .gumby-touch .main-menu-container .main-menu > li .dropdown li:focus
a{color:#ff8c21}}.master-footer, .master-footer
p{background:#23272a}.master-footer .widget-title{color:#c8ced2}.master-footer
.row{color:#c8ced2}
#block{height:0;overflow:hidden;-webkit-transition:height 300ms linear;-moz-transition:height 300ms linear;-o-transition:height 300ms linear;transition:height 300ms linear}label{cursor:pointer}#showblock{display:none}#showblock:checked+#block{height:200px;display:block}