/*
Theme created for use with Sequence.js (http://www.sequencejs.com/)

Theme: Modern Slide In
Version: 1.3
Theme Author: Ian Lunn @IanLunn
Author URL: http://www.ianlunn.co.uk/
Theme URL: http://www.sequencejs.com/themes/modern-slide-in/

This is a FREE theme and is available under a MIT License:
http://www.opensource.org/licenses/mit-license.php

Sequence.js and its dependencies are (c) Ian Lunn Design 2012 - 2013 unless otherwise stated.
*/

//Selector Variables
$sequenceContainer: "#sequence";
$sequenceCanvas: ".sequence-canvas";
$animateIn: ".animate-in";
$animateOut: ".animate-out";
$nextButton: ".sequence-next";
$prevButton: ".sequence-prev";
$pauseButton: ".sequence-pause";
$pagination: ".sequence-pagination";
$whenPaused: ".sequence-paused";
$sequencePreloader: ".sequence-preloader";

/* prefix declarations */
@mixin prefixed($property, $value) {
    -webkit-#{$property}: $value;
       -moz-#{$property}: $value;
        -ms-#{$property}: $value;
         -o-#{$property}: $value;
            #{$property}: $value;
}

/* THEME STYLES */
.homepage-slider { 
	.sequence-theme { /* this container is just to ensure the background color stretches all the way across on bigger screens */
		background: #D9D9D9; 
	}

	#{$sequenceContainer} {
		@include border-radius($button-radius);
		border: 1px solid #c7c7c7;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		width: 100%;
		max-width: 1280px;

		background-color: #D9D9D9;
		background-image: url("../img/sequence/bg-sequence.jpg");
		background-repeat: no-repeat;
		background-position: 50% 100%;

		color: white;
		font-size: 0.625em;
		margin: 0 auto;
		position: relative;
		height: 330px;

		> #{$sequenceCanvas} {
			height: 100%;
			width: 100%;

			 > li {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 1;
				top: -50%;

				img {
					//height: 96%;
				}
			}

			li h2, li h3, li img {
				position: absolute;
				$transitionProperties: left, opacity; /* only cause the left and opacity properties to transition */
				@include prefixed(transition-property, #{$transitionProperties});
			}
		}
	}

	#{$nextButton},
	#{$prevButton} {
		color: white;
		cursor: pointer;
		display: none;
		font-weight: bold;
		padding: 10px 15px;
		position: absolute;
		top: 50%;
		z-index: 1000;
		height: 75px;
		margin-top: -47.5px;
	}

	#{$pauseButton} {
		bottom: 0;
		cursor: pointer;
		position: absolute;
		z-index: 1000;
	}

	#{$whenPaused} {
		opacity: 0.3;
	}

	#{$prevButton} {
		left: 2%;
	}

	#{$nextButton} {
		right: 2%;
	}

	#{$prevButton} img, 
	#{$nextButton} img {
		height: 100%;
		width: auto;
	}

	#sequence-preloader {
		background: #d9d9d9;
	}

	#{$pagination} {
		bottom: 1%;
		display: none;
		right: 6%;
		position: absolute;
		z-index: 10;
		@include prefixed(transition-duration, .5s);

		li {
			display: inline-block;
			*display: inline; /* Hack for IE7 and below as they don't support inline-block */ 
			height: 140px;

			img {
				cursor: pointer;
				opacity: 0.5;
				@include prefixed(transition-duration, 1s);
				$transitionProperties: margin-bottom, opacity;
				@include prefixed(transition-property, #{$transitionProperties});
			}
			
			img:hover {
				margin-bottom: 4px;
				@include prefixed(transition-duration, .3s);
			}
		}

		li.current img {
			opacity: 1;
		}
	}

	#{$sequenceContainer} {
		h2 {
			color: white;
			font-family: $font-family;
			font-weight: bold;
			text-transform: uppercase;

			a {
				color: white;

				&:hover, &:focus {
					color: $blue;
				}
			}
		}

		h3 {
			font-family: $font-family;
		}
	}

	#{$nextButton},
	#{$prevButton} {
		position: absolute;
		opacity: 0.6;
		@include prefixed(transition-duration, 1s);
	}

	#{$nextButton}:hover,
	#{$prevButton}:hover {
		opacity: 1;
		@include prefixed(transition-duration, 1s);
	}

	.title {
		font-size: 3.4em;
		left: 65%;
		width: 35%;
		opacity: 0;
		bottom: 22%;
		z-index: 50;
	}

	#{$animateIn} .title {
		left: 50%;
		opacity: 1;
		@include prefixed(transition-duration, .5s);
	}

	#{$animateOut} .title {
		left: 35%;
		opacity: 0;
		@include prefixed(transition-duration, .5s);
	}

	.subtitle {
		color: $header-font-color;
		font-size: 2em;
		left: 35%;
		width: 35%;
		opacity: 0;
		top: 75%;
	}

	#{$animateIn} .subtitle {
		left: 50%;
		opacity: 1;
		@include prefixed(transition-duration, .5s);
	}

	#{$animateOut} .subtitle {
		left: 65%;
		opacity: 0;
		@include prefixed(transition-duration, .5s);
	}

	.attachment-slider {
		left: 30%;
		bottom: -45%;
		opacity: 0;
		position: relative;
		height: auto !important;
		max-height: 300px !important;
		width: auto;
		min-width: 225px; /* prevents the attachment-slider from shrinking when the browser is resized */
		max-width: 300px;
	}

	#{$animateIn} .attachment-slider {
		left: 11%;
		opacity: 1;
		@include prefixed(transition-duration, 1s);
	}

	#{$animateOut} .attachment-slider {
		left: 15%;
		opacity: 0;
		@include prefixed(transition-duration, .5s);
	}
}

@media only screen and (min-width : 992px) {

	.homepage-slider {
		#{$sequenceContainer} {
			.title {
				width: 42%;
			}
		}
	}
}

@media only screen and (max-width : 910px) {
	.homepage-slider {
		#{$sequenceContainer} {
			// height: 320px;
		
			.attachment-slider-thumbnail {
				width: 100px;
			}
		}

		#{$pagination} li {
			height: 100px; 
		}

		.animate-in {
			.title, .subtitle {
				left: 53%;
			}
		}
	}
}

@media only screen and (max-width : 775px) {
	.homepage-slider {
		#{$sequenceContainer} {
			height: 250px;
		
			.title {
				font-size: 2.8em;
			}
			
			.subtitle {
				font-size: 1.6em;
			}
			
			#{$nextButton},
			#{$prevButton} {
				height: 60px;
				margin-top: -40px;
			}
			
			.attachment-slider {
				max-width: 226px;
				height: auto;
			}

			.attachment-slider-thumbnail {
				width: 75px;
			}
		}

		#{$pagination} li {
			height: 75px; 
		}
	}
}

@media only screen and (max-width : 594px) {
	.homepage-slider {
		#{$sequenceContainer} {
			.attachment-slider {
				left: 50%;
				min-width: 40%; /*prevents the attachment-slider from shrinking when the browser is resized*/
				width: 40%;
			}
			
			#{$animateIn} .attachment-slider {
				left: 50%;
				margin-left: -20%;
			}
			
			#{$animateOut} .attachment-slider {
				left: 50%;
				margin-left: -20%;
			}
			
			.title {
				background: #a1a1a1;
				background: rgba(0,0,0,0.3);
				bottom: 0;
				left: 100%;
				padding: 4%;
				bottom: -50%;
				width: 100%;
				z-index: 10;
			}
			
			#{$animateIn} .title {
				left: 0%;
			}
			
			#{$animateOut} .title {
				left: -100%;	
			}
			
			.subtitle {
				visibility: hidden;
			}
			
			#{$pagination} {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}

@media only screen and (max-width : 518px) {
	#{$sequenceContainer} {
		height: 205px;
	}
}

@media only screen and (max-width : 468px) {
	#{$sequenceContainer} {
		height: 184px;
	}
}

@media only screen and (max-width : 418px) {
	#{$sequenceContainer} {
		height: 160px;
	}
}

@media only screen and (max-width : 368px) {
	#{$sequenceContainer} {
		height: 140px;
		
		.title {
			font-size: 2.2em;
		}
	}
}

@media 	only screen
	and (max-width : 320px)
	and (orientation : portrait) { /*iphone portrait*/
	#{$sequenceContainer} {
		height: 235px;
	
		.attachment-slider {
			min-width: 45%;
			width: 45%;
			bottom: -19%;
		}
		
		#{$animateIn} .attachment-slider {
			margin-left: -22.5%;
		}
		
		#{$animateOut} .attachment-slider {
			margin-left: -22.5%;
		}
	}
}

// @media 	only screen
// 	and (min-width : 321px)
// 	and (max-width : 480px)
// 	and (orientation : landscape) {
// 	#{$sequenceContainer} {
// 		height: 260px;
	
// 		.attachment-slider {
// 			min-width: 24%;
// 			width: 24%;
// 		}
		
// 		#{$animateIn} .attachment-slider {
// 			left: 17.5%;
// 			margin-left: 0;
// 		}
		
// 		#{$animateOut} .attachment-slider {
// 			left: 17.5%;
// 			margin-left: 0;
// 		}
		
// 		#{$pagination} {
// 			right: 17.5%;
// 		}
// 	}
// }