
<h2 style="text-align:center;">About MoneyStyle</h2>
<div class="row">
	<div class="six columns">
		<h3 style="margin:auto;">What Problem Does MoneyStyle Solve?</h3>
		<ul>
			<li>People sending money internationally are being forced to choose from hundreds of providers, with many being <strong>expensive and slow</strong>.</li>
		</ul>
		<h3 style="margin:auto;">How do you do it?</h3>
		<ul>
			<li>MoneyStyle provides our visitors with our independent, transparent, end-to-end breakdown of fees.</li>
			<li>MoneyStyle compares banks, money transfer operators, and even bitcoin exchanges</li>
			<li>Bitcoin support offers significantly more supported routes and currencies than any other source.</li>
			<li>The data is (almost) live, with rates updated on average every few minutes</li>
		</ul>
	</div>
	<div class="six columns">
		<h3 style="text-align:center;">Staff</h3>
		<h4>Matthew Goodwin</h4>
		<img src="http://www.mattg.com.au/zoomer/wp-content/uploads/2015/02/matthew-goodwin-photo.png" alt="" width="200" height="228" class="alignright size-full wp-image-226" />
		<p>
		Matthew Goodwin is an entrepreneur, with a passion for the high-tech. While starting several successful internet-based ventures after university, he's developed a diverse set of skills that link customers to services using bleeding-edge technology.
		</p>
		<p>
		Having experienced being in a foreign country without access to money, I know it isn't easy. Being forced to pay thousands due to a lack of competition in the remittance space, I developed MoneyStyle as way to do the legwork of finding the best deal.
		</p>
	</div>
</div>

<img class="aligncenter" style="max-width: 280px; margin: auto;" src="../logos/logo-small-white.png" alt="MoneyStyle Logo" />