/* custom.css */

/* $blue-submenu: #204885; */
.navbar ul li > a + .dropdown ul a { background: #204885; }
.gumby-no-touch .navbar ul li:hover > a, .gumby-touch .navbar ul li.active > a { background: #204885; }

/* $blue-menu: #3B6AB1; */
@media only screen and (max-width: 768px) {
	.navbar ul { background: #3b6ab1; }
}

/* $blue: #497ac3; */
a { color: #497ac3; }
@media only screen and (max-width: 767px) { 
	.navbar ul li.active .dropdown ul li a:hover { color: #497ac3; }
}
@media only screen and (max-width: 767px) { 
	.navbar li .dropdown.active .dropdown ul li a:hover { color: #497ac3; }
}
.navbar li .dropdown ul > li a { color: #497ac3; }
@media only screen and (max-width: 767px) {
	.gumby-no-touch .navbar ul li:hover .dropdown ul li a:hover { color: #497ac3; }
}
.btn.secondary, .skiplink.secondary { background: #497ac3; border-color: #497ac3; }
.badge.secondary, .label.secondary { background: #497ac3; border-color: #497ac3; }
.badge.light a, .label.light a { color: #497ac3; }
.alert.secondary { border-color: #497ac3; }
.homepage-slider #sequence h2 a:hover, .homepage-slider #sequence h2 a:focus { color: #497ac3; }
.pager ul li a { border-color: #497ac3; }
.tophead a:hover, .tophead a:focus { color: #497ac3; }
.topmain > div { background-color: #497ac3; }
.row-homepage-featured > div > a h3, .row-homepage-featured > div > a h4 { color: #497ac3; }
.paginate .page-numbers, .paginate .buttons a { border-color: #497ac3; }
.nav-brands .skiplink > a:hover, .nav-brands .skiplink > a:focus { color: #497ac3; }

/* $light-blue: #bcd5fa; */
.topmain > div .logo p { color: #bcd5fa; }

/* $light-gray: #f8f8f8;
$gray: #888;
$dark-gray: #4c4c4c;
$border-gray: #e9e9e9; */

/* $orange: #ff8c21; */
.btn.primary, .skiplink.primary { background: #ff8c21; border-color: #ff8c21; }
.badge.primary, .label.primary { background: #ff8c21; border-color: #ff8c21; }
.alert.primary { border-color: #ff8c21; color: #ba5a00; }
.ttip:after { background: #ff8c21; border-color: #ff8c21; }
.ttip:before { border-top-color: #ff8c21 !important; }
.pager .short .btn { background: #ff8c21; border-color: #ff8c21; }
.pager ul li a:hover, .pager ul li a:focus { border-color: #ff8c21; }
.bypostauthor .comment-body { border-left-color: #ff8c21; }
a:hover, a:focus { color: #ff8c21; }
.links-dark-gray:hover, .links-gray:hover, .sidebar .widget a:hover, .links-body-color:hover, .product-listing .listing-params .btn-form i:hover, .blog-column .meta-tags + h2 a:hover, .links-dark-gray:focus, .links-gray:focus, .sidebar .widget a:focus, .links-body-color:focus, .product-listing .listing-params .btn-form i:focus, .blog-column .meta-tags + h2 a:focus { color: #ff8c21; }
.orange-button, .comment-list .comment-reply-link, .form-submit input[type="submit"], .sidebar input[type="submit"], .tooltip .button, .merchant-button { background: #ff8c21; border-color: #ff8c21; }
.checkbox .icon-check { color: #ff8c21; }
.topmain > div .logo .plain-text:hover { color: #ff8c21; }
@media only screen and (max-width: 768px) {
	.primary.btn { background-color: #ff8c21; border-color: #ff8c21; }
}
@media only screen and (min-width: 768px) {
	.gumby-no-touch .main-menu-container .main-menu > li:hover > a, .gumby-no-touch .main-menu-container .main-menu > li:focus > a, .gumby-touch .main-menu-container .main-menu > li:hover > a, .gumby-touch .main-menu-container .main-menu > li:focus > a { color: #ff8c21; }
	.gumby-no-touch .main-menu-container .main-menu > li .dropdown li:hover a, .gumby-no-touch .main-menu-container .main-menu > li .dropdown li:focus a, .gumby-touch .main-menu-container .main-menu > li .dropdown li:hover a, .gumby-touch .main-menu-container .main-menu > li .dropdown li:focus a { color: #ff8c21; }
}
.master-footer a:hover, .master-footer a:focus { color: #ff8c21; }
.row-homepage-featured > div > a:hover h3, .row-homepage-featured > div > a:focus h3 { color: #ff8c21; }
.homepage-products > div a:hover h4, .homepage-products > div a:focus h4 { color: #ff8c21; }
.homepage-products > div a .from span { color: #ff8c21; }
.paginate .page-numbers:hover, .paginate .page-numbers:focus, .paginate .buttons a:hover, .paginate .buttons a:focus { border-color: #ff8c21; }
.product-listing-container.grid-view .product .product-view .price span { color: #ff8c21; }
.required, .row-write-review-head label + span, .row-write-comment-head label + span { color: #ff8c21; }
.retailers-table table .sort-head.headerSortDown i { color: #ff8c21; }
.retailers-table table .sort-head.headerSortUp i { color: #ff8c21; }
.dropcap { color: #ff8c21; }
.highlight { background: #ff8c21; }

.gumby-no-touch .navbar li .dropdown ul li a:hover, .gumby-touch .navbar li .dropdown ul li a.active { color: #ff8c21; }
.gumby-no-touch .navbar ul li:hover > a, .gumby-touch .navbar ul li.active > a { color: #ff8c21; }

/* $footer-bg: #23272A; */
.master-footer, .master-footer p { background: #23272a; }

/* $footer-header: #83929B; */
.master-footer .widget-title { color: #83929b; }

/* $footer-text: #c8ced2; */
.master-footer .row { color: #c8ced2; }


