

@media(max-width: 1000px) {



h3.amount {
    font-size: 20pt;
  }

  h1 {
    font-size: 18pt;
  }
  h2 {
    font-size: 18pt;
  }
  h3 {
    font-size: 15pt;
  }
  h4 {
    font-size: 14pt;
  }
  h5 {
    font-size: 13pt;
  }
  h6 {
    font-size: 12pt;
    }

  #leftarrow { display: none; }
  #savings { display: none; }
  #featuresheading { /*display: none; */}
  #features { /*display: none; */}
  #video  { display: none; }

  #top_providers { display: none; }
  #sendworldwide { display: none; }
  #areyouready { /*display: none; */}
  #full_results { /* display: none; */ }
  #enhancedtextwidget-3 { display: none; }
  #enhancedtextwidget-4 { display: none; }
  #hey-dude { display: none; }
  #tz_product_search_widget-6 { display: none; }
  #slideshow { /* display: none; */ }
  #buyfrom_sellto_image_links { display: none; }
  #up-arrow { /* display: none; */}
  #header-social { display: none; }
  #heading_home_link { display: none; }
  #arrow-down { display: none; }
  #arrow-down-grey {  display: none; }
  #arrow-down-dark-grey { /*display: none; */}
  #historicalchart { display: none; }
  #fees_sending_1000 { display: none; }
}

@media(max-width: 650px) {



  /*#wrapper   { display: table; }
   #firstDiv  { display: table-footer-group; width: 100%;}
  #secondDiv { display: table-header-group; }
    #calculations { display: none; }
  #areyouready { display: none; }
  #homepage_providers_heading { display: none; }*/
  #homepage_providers { display: none; }
  #top_menu_and_social { display: none; }
  #receive-approx { font-size:34px; }
  #homepage_providers_heading {  /* display: none; */}
  #sending_1000_live_rates {  display: none; }


  i.fa.fa-angle-right
  {
    font-size: 15px;
  }

  table tr td {font-size:8px;}
}